<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libiao.customer.dal.mapper.ClientMapper">
  <resultMap id="BaseResultMap" type="com.libiao.customer.dal.model.Client">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="abbr" jdbcType="VARCHAR" property="abbr" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="asso_com" jdbcType="LONGVARCHAR" property="assoCom" />
    <result column="asso_invoice" jdbcType="LONGVARCHAR" property="assoInvoice" />
    <result column="invoice_name" jdbcType="VARCHAR" property="invoiceName" />
    <result column="invoice_tax_num" jdbcType="VARCHAR" property="invoiceTaxNum" />
    <result column="invoice_addr" jdbcType="VARCHAR" property="invoiceAddr" />
    <result column="invoice_tel" jdbcType="VARCHAR" property="invoiceTel" />
    <result column="invoice_bank" jdbcType="VARCHAR" property="invoiceBank" />
    <result column="invoice_acc" jdbcType="VARCHAR" property="invoiceAcc" />
    <result column="invoice_is_spec" jdbcType="VARCHAR" property="invoiceIsSpec" />
    <result column="client_class" jdbcType="VARCHAR" property="clientClass" />
    <result column="indust_class" jdbcType="VARCHAR" property="industClass" />
    <result column="client_level" jdbcType="VARCHAR" property="clientLevel" />
    <result column="client_num" jdbcType="VARCHAR" property="clientNum" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="opp_numb" jdbcType="VARCHAR" property="oppNumb" />
    <result column="not_comp_quot" jdbcType="VARCHAR" property="notCompQuot" />
    <result column="last_finish_date" jdbcType="VARCHAR" property="lastFinishDate" />
    <result column="last_trace_user" jdbcType="VARCHAR" property="lastTraceUser" />
    <result column="reserve_days" jdbcType="VARCHAR" property="reserveDays" />
    <result column="trace_user_id" jdbcType="BIGINT" property="traceUserId" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from client
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.libiao.customer.dal.model.Client">
    insert into client (id, name, addr, 
      abbr, nickname, source, 
      asso_com, asso_invoice, invoice_name, invoice_tax_num,
      invoice_addr, invoice_tel, invoice_bank,
      invoice_acc, invoice_is_spec, client_class,
      indust_class, client_level, client_num,
      status, opp_numb, not_comp_quot, last_finish_date,
      last_trace_user, reserve_days, trace_user_id, en_name
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{abbr,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{assoCom,jdbcType=VARCHAR}, #{assoInvoice,jdbcType=VARCHAR}, #{invoiceName,jdbcType=VARCHAR}, #{invoiceTaxNum,jdbcType=VARCHAR},
      #{invoiceAddr,jdbcType=VARCHAR}, #{invoiceTel,jdbcType=VARCHAR}, #{invoiceBank,jdbcType=VARCHAR},
      #{invoiceAcc,jdbcType=VARCHAR}, #{invoiceIsSpec,jdbcType=VARCHAR}, #{clientClass,jdbcType=VARCHAR},
      #{industClass,jdbcType=VARCHAR}, #{clientLevel,jdbcType=VARCHAR}, #{clientNum,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{oppNumb,jdbcType=VARCHAR}, #{notCompQuot,jdbcType=VARCHAR},
      #{lastFinishDate,jdbcType=VARCHAR}, #{lastTraceUser,jdbcType=VARCHAR}, #{reserveDays,jdbcType=VARCHAR},
      #{traceUserId,jdbcType=BIGINT}, #{enName,jdbcType=BIGINT}
      )
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.libiao.customer.dal.model.Client">
    update client
    set name = #{name,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      abbr = #{abbr,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      asso_com = #{assoCom,jdbcType=LONGVARCHAR},
      asso_invoice = #{assoInvoice,jdbcType=LONGVARCHAR},
      invoice_name = #{invoiceName,jdbcType=VARCHAR},
      invoice_tax_num = #{invoiceTaxNum,jdbcType=VARCHAR},
      invoice_addr = #{invoiceAddr,jdbcType=VARCHAR},
      invoice_tel = #{invoiceTel,jdbcType=VARCHAR},
      invoice_bank = #{invoiceBank,jdbcType=VARCHAR},
      invoice_acc = #{invoiceAcc,jdbcType=VARCHAR},
      invoice_is_spec = #{invoiceIsSpec,jdbcType=VARCHAR},
      client_class = #{clientClass,jdbcType=VARCHAR},
      indust_class = #{industClass,jdbcType=VARCHAR},
      client_level = #{clientLevel,jdbcType=VARCHAR},
      client_num = #{clientNum,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      opp_numb = #{oppNumb,jdbcType=VARCHAR},
      not_comp_quot = #{notCompQuot,jdbcType=VARCHAR},
      last_finish_date = #{lastFinishDate,jdbcType=VARCHAR},
      last_trace_user = #{lastTraceUser,jdbcType=VARCHAR},
      reserve_days = #{reserveDays,jdbcType=VARCHAR},
      trace_user_id = #{traceUserId,jdbcType=BIGINT},
      en_name = #{enName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="unlockClientById">
    update client
    set
      trace_user_id = null
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="lockClientById">
    update client
    set
      trace_user_id = #{uid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select *
    from client
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select *
    from client
    where name = #{name,jdbcType=VARCHAR}
  </select>
  <select id="selectByTraceUserId" parameterType="com.libiao.customer.dal.model.ClientParamVO" resultMap="BaseResultMap">
    select *
    from client
    where trace_user_id = #{uid,jdbcType=BIGINT}
    <if test="vo.cnameOrAbbr != null and vo.cnameOrAbbr !='%%'">
      and (name like #{vo.cnameOrAbbr,jdbcType=VARCHAR} or abbr like #{vo.cnameOrAbbr,jdbcType=VARCHAR})
    </if>
    <if test="vo.industry != null and vo.industry !='%%'">
      and indust_class like #{vo.industry,jdbcType=VARCHAR}
    </if>
    <if test="vo.status != null and vo.status !='%%'">
      and status like #{vo.status,jdbcType=VARCHAR}
    </if>
    <if test="vo.type != null and vo.type !='%%'">
      and client_class like #{vo.type,jdbcType=VARCHAR}
    </if>
    <if test="vo.source != null and vo.source !='%%'">
      and `source` like #{vo.source,jdbcType=VARCHAR}
    </if>
    <if test="vo.startDate != null and vo.startDate !=''">
      and DATEDIFF(invoice_name, #{vo.startDate,jdbcType=VARCHAR}) <![CDATA[ >= ]]> 0
    </if>
    <if test="vo.endDate != null and vo.endDate !=''">
      and DATEDIFF(invoice_name, #{vo.endDate,jdbcType=VARCHAR}) <![CDATA[ <= ]]> 0
    </if>
  </select>
  <select id="selectByTraceUserIdIsNull" parameterType="com.libiao.customer.dal.model.ClientParamVO" resultMap="BaseResultMap">
    select *
    from client
    where trace_user_id is null
    <if test="cnameOrAbbr != null and cnameOrAbbr !='%%'">
      and (name like #{cnameOrAbbr,jdbcType=VARCHAR} or abbr like #{cnameOrAbbr,jdbcType=VARCHAR})
    </if>
    <if test="industry != null and industry !='%%'">
      and indust_class like #{industry,jdbcType=VARCHAR}
    </if>
    <if test="status != null and status !='%%'">
      and status like #{status,jdbcType=VARCHAR}
    </if>
    <if test="type != null and type !='%%'">
      and client_class like #{type,jdbcType=VARCHAR}
    </if>
    <if test="source != null and source !='%%'">
      and `source` like #{source,jdbcType=VARCHAR}
    </if>
    <if test="startDate != null and startDate !=''">
      and DATEDIFF(invoice_name, #{startDate,jdbcType=VARCHAR}) <![CDATA[ >= ]]> 0
    </if>
    <if test="endDate != null and endDate !=''">
      and DATEDIFF(invoice_name, #{endDate,jdbcType=VARCHAR}) <![CDATA[ <= ]]> 0
    </if>
  </select>
  <select id="selectAllByCondition" parameterType="com.libiao.customer.dal.model.ClientParamVO" resultMap="BaseResultMap">
    select *
    from client
    <where>
      <if test="cnameOrAbbr != null and cnameOrAbbr !='%%'">
        and (name like #{cnameOrAbbr,jdbcType=VARCHAR} or abbr like #{cnameOrAbbr,jdbcType=VARCHAR})
      </if>
      <if test="industry != null and industry !='%%'">
        and indust_class like #{industry,jdbcType=VARCHAR}
      </if>
      <if test="status != null and status !='%%'">
        and status like #{status,jdbcType=VARCHAR}
      </if>
      <if test="type != null and type !='%%'">
        and client_class like #{type,jdbcType=VARCHAR}
      </if>
      <if test="source != null and source !='%%'">
        and `source` like #{source,jdbcType=VARCHAR}
      </if>
      <if test="startDate != null and startDate !=''">
        and DATEDIFF(invoice_name, #{startDate,jdbcType=VARCHAR}) <![CDATA[ >= ]]> 0
      </if>
      <if test="endDate != null and endDate !=''">
        and DATEDIFF(invoice_name, #{endDate,jdbcType=VARCHAR}) <![CDATA[ <= ]]> 0
      </if>
    </where>
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select *
    from client
  </select>
</mapper>