<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libiao.customer.dal.mapper.CommissionChangeRecordMapper">
  <resultMap id="BaseResultMap" type="com.libiao.customer.dal.model.CommissionChangeRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="client_id" jdbcType="VARCHAR" property="clientId" />
    <result column="oper_user" jdbcType="VARCHAR" property="operUser" />
    <result column="rate" jdbcType="INTEGER" property="rate" />
    <result column="oper_time" jdbcType="TIMESTAMP" property="operTime" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="trade_amt" jdbcType="BIGINT" property="tradeAmt" />
    <result column="descp" jdbcType="VARCHAR" property="descp" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="trade_id" jdbcType="VARCHAR" property="tradeId" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, client_id, oper_user, rate, oper_time, status, trade_amt, descp, amount, trade_id, 
    client_name
  </sql>
  <select id="selectByExample" parameterType="com.libiao.customer.dal.model.CommissionChangeRecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commission_change_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commission_change_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from commission_change_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.libiao.customer.dal.model.CommissionChangeRecordExample">
    delete from commission_change_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.libiao.customer.dal.model.CommissionChangeRecord">
    insert into commission_change_record (id, client_id, oper_user, 
      rate, oper_time, status, 
      trade_amt, descp, amount, 
      trade_id, client_name)
    values (#{id,jdbcType=BIGINT}, #{clientId,jdbcType=VARCHAR}, #{operUser,jdbcType=VARCHAR}, 
      #{rate,jdbcType=INTEGER}, #{operTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, 
      #{tradeAmt,jdbcType=BIGINT}, #{descp,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, 
      #{tradeId,jdbcType=VARCHAR}, #{clientName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.libiao.customer.dal.model.CommissionChangeRecord">
    insert into commission_change_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="clientId != null">
        client_id,
      </if>
      <if test="operUser != null">
        oper_user,
      </if>
      <if test="rate != null">
        rate,
      </if>
      <if test="operTime != null">
        oper_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="tradeAmt != null">
        trade_amt,
      </if>
      <if test="descp != null">
        descp,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="tradeId != null">
        trade_id,
      </if>
      <if test="clientName != null">
        client_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="operUser != null">
        #{operUser,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=INTEGER},
      </if>
      <if test="operTime != null">
        #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmt != null">
        #{tradeAmt,jdbcType=BIGINT},
      </if>
      <if test="descp != null">
        #{descp,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="tradeId != null">
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null">
        #{clientName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.libiao.customer.dal.model.CommissionChangeRecordExample" resultType="java.lang.Long">
    select count(*) from commission_change_record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update commission_change_record
    <set>
      <if test="row.id != null">
        id = #{row.id,jdbcType=BIGINT},
      </if>
      <if test="row.clientId != null">
        client_id = #{row.clientId,jdbcType=VARCHAR},
      </if>
      <if test="row.operUser != null">
        oper_user = #{row.operUser,jdbcType=VARCHAR},
      </if>
      <if test="row.rate != null">
        rate = #{row.rate,jdbcType=INTEGER},
      </if>
      <if test="row.operTime != null">
        oper_time = #{row.operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="row.status != null">
        status = #{row.status,jdbcType=VARCHAR},
      </if>
      <if test="row.tradeAmt != null">
        trade_amt = #{row.tradeAmt,jdbcType=BIGINT},
      </if>
      <if test="row.descp != null">
        descp = #{row.descp,jdbcType=VARCHAR},
      </if>
      <if test="row.amount != null">
        amount = #{row.amount,jdbcType=BIGINT},
      </if>
      <if test="row.tradeId != null">
        trade_id = #{row.tradeId,jdbcType=VARCHAR},
      </if>
      <if test="row.clientName != null">
        client_name = #{row.clientName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update commission_change_record
    set id = #{row.id,jdbcType=BIGINT},
      client_id = #{row.clientId,jdbcType=VARCHAR},
      oper_user = #{row.operUser,jdbcType=VARCHAR},
      rate = #{row.rate,jdbcType=INTEGER},
      oper_time = #{row.operTime,jdbcType=TIMESTAMP},
      status = #{row.status,jdbcType=VARCHAR},
      trade_amt = #{row.tradeAmt,jdbcType=BIGINT},
      descp = #{row.descp,jdbcType=VARCHAR},
      amount = #{row.amount,jdbcType=BIGINT},
      trade_id = #{row.tradeId,jdbcType=VARCHAR},
      client_name = #{row.clientName,jdbcType=VARCHAR}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.libiao.customer.dal.model.CommissionChangeRecord">
    update commission_change_record
    <set>
      <if test="clientId != null">
        client_id = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="operUser != null">
        oper_user = #{operUser,jdbcType=VARCHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=INTEGER},
      </if>
      <if test="operTime != null">
        oper_time = #{operTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="tradeAmt != null">
        trade_amt = #{tradeAmt,jdbcType=BIGINT},
      </if>
      <if test="descp != null">
        descp = #{descp,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="tradeId != null">
        trade_id = #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="clientName != null">
        client_name = #{clientName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.libiao.customer.dal.model.CommissionChangeRecord">
    update commission_change_record
    set client_id = #{clientId,jdbcType=VARCHAR},
      oper_user = #{operUser,jdbcType=VARCHAR},
      rate = #{rate,jdbcType=INTEGER},
      oper_time = #{operTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      trade_amt = #{tradeAmt,jdbcType=BIGINT},
      descp = #{descp,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      trade_id = #{tradeId,jdbcType=VARCHAR},
      client_name = #{clientName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>