<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libiao.customer.dal.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.libiao.customer.dal.model.Role">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="desc" jdbcType="VARCHAR" property="desc"/>
  </resultMap>
  <resultMap id="RoleWithPermissionResultMap" type="com.libiao.customer.dal.model.Role">
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="desc" jdbcType="VARCHAR" property="desc"/>
    <collection property="permission" ofType="com.libiao.customer.dal.model.Permission">
      <id column="cid" property="id" jdbcType="BIGINT"/>
      <result column="cname" property="name" jdbcType="VARCHAR"/>
      <result column="path" property="path" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, `desc`
    from role
  </select>

  <select id="selectByKey" resultMap="BaseResultMap">
    select id, name, `desc`
    from role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByRoleName" resultMap="BaseResultMap">
    select *
    from role
    where name = #{name,jdbcType=VARCHAR}
  </select>

<!--  <select id="selectAllWithPermission" resultMap="RoleWithPermissionResultMap">-->
<!--    select a.*,-->
<!--           c.id   cid,-->
<!--           c.name cname,-->
<!--           c.path-->
<!--    from role a-->
<!--           left join role_permission b-->
<!--                     on a.id = b.role_id-->
<!--           left join permission c-->
<!--                     on b.permission_id = c.id-->
<!--    where 1 = 1-->
<!--    group by id-->
<!--  </select>-->

  <update id="updateByPrimaryKey" parameterType="com.libiao.customer.dal.model.Role">
    update role
    set name   = #{name,jdbcType=VARCHAR},
        `desc` = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete
    from role
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.libiao.customer.dal.model.Role" useGeneratedKeys="true"
    keyProperty="id">
    insert into role (name, `desc`)
    values (#{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID()
    </selectKey>
  </insert>

</mapper>