<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.libiao.customer.dal.mapper.TestTradeMapper">
  <resultMap id="BaseResultMap" type="com.libiao.customer.dal.model.TestTrade">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify" />
    <result column="test_name" jdbcType="VARCHAR" property="testName" />
    <result column="test_desc" jdbcType="VARCHAR" property="testDesc" />
    <result column="client" jdbcType="VARCHAR" property="client" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="client_account" jdbcType="VARCHAR" property="clientAccount" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="client_id" jdbcType="BIGINT" property="clientId" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from test_trade
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.libiao.customer.dal.model.TestTrade">
    insert into test_trade (id, gmt_create, gmt_modify,
      test_name, test_desc, client,
      contact, client_account, owner,
      status, client_id, owner_id)
    values (#{id,jdbcType=BIGINT}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP},
      #{testName,jdbcType=VARCHAR}, #{testDesc,jdbcType=VARCHAR}, #{client,jdbcType=VARCHAR},
      #{contact,jdbcType=VARCHAR}, #{clientAccount,jdbcType=VARCHAR}, #{owner,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{clientId,jdbcType=BIGINT}, #{ownerId,jdbcType=BIGINT})
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      select LAST_INSERT_ID()
    </selectKey>
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.libiao.customer.dal.model.TestTrade">
    update test_trade
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      test_name = #{testName,jdbcType=VARCHAR},
      test_desc = #{testDesc,jdbcType=VARCHAR},
      client = #{client,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      client_account = #{clientAccount,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      client_id = #{clientId,jdbcType=BIGINT},
      owner_id = #{ownerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modify, test_name, test_desc, client, contact, client_account,
    owner, status, client_id, owner_id
    from test_trade
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, gmt_create, gmt_modify, test_name, test_desc, client, contact, client_account,
    owner, status, client_id, owner_id
    from test_trade
  </select>
  <select id="selectAllByOwner" resultMap="BaseResultMap">
    select a.*
    from test_trade a
        left join user_test_trade b
            on a.id = b.test_trade_id
        left join userExt c
            on b.user_id = c.id
    where c.username = #{owner,jdbcType=VARCHAR}
  </select>
</mapper>
